<template name="footer">
  <footer class="container-fluid  text-center page-margin">
    <div class="row">
      <div class="col-sm-12 well">
        <div class="col-sm-4 text-left">
          <img src="logoTexto.png" class="img-responsive img-logo image-footer">
          <hr>
          <p><span class="glyphicon glyphicon-earphone title"></span> 7272187</p>
          <p><span class="glyphicon glyphicon-envelope title"></span> irso.tumaco.transcripcionadmon@gmail.com</p>
          <p><span class="glyphicon glyphicon-map-marker title"></span> Calle Sucre cs_84</p>
        </div>
        <div class="col-sm-4">
          <h3>Horario de atención</h3>
          <hr>
          <div class="col-sm-6 text-left">
            <p>Lunes - Viernes</p>
            <p>Sábado</p>
            <p>Domingo</p>
          </div>
          <div class="col-sm-6 text-left">
            <p>07:00-12:30 03:00-07:00</p>
            <p>08:00 am - 12:00 pm</p>
            <p>08:00 am - 12:00 pm</p>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Novedades</h3>
          <hr>
          <p>Manténgase informado sobre nuestras novedades.</p>
        </div>
      </div>
    </div>
    <p>© Instituto Radiológico del Sur Occidente - Todos los derechos reservados.</p>
  </footer>
</template>
