<template name="home">
  <div class="container-fluid page-margin">
    <div class="row">
      <div class="col-sm-12">
        <img class="img-responsive" src="principal.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="backgroundSede image-home">
          <br><br><br><br>
            <a class="center-h1 nl" href="{{pathFor 'contact'}}"><b>SEDE</b></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="backgroundEstudios image-home">
          <br><br><br><br>
          <a class="center-h1 nl" href="{{pathFor 'services'}}"><b>SERVICIOS</b></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="backgroundNosotros image-home">
          <br><br><br><br>
          <a class="center-h1 nl" href="{{pathFor 'about'}}"><b>NOSOTROS</b></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 well">
          <br><br><br><br><br><br>
          <div class="col-sm-6">
            <div class="parallax">

            </div>
          </div>
          <div class="col-sm-6">
            <h1 align="center">Instituto Radiológico del Sur</h1>
            <p>
              Estamos comprometidos con la prestación de servicios en Imagenología con calidad, contando
              con una infraestructura de alta tecnología y segura, la cual nos permite estar en armonía con el
              medio ambiente.
            </p>
            <p>
              Mejoramos continuamente logrando ser reconocidos y en busca de satisfacer cada una de las
              necesidades de nuestros usuarios; basados en el cumplimiento de la normatividad vigente y el
              respeto de sus derechos en salud.
            </p>
            <hr>
            <a class="btn btn-primary pull-right" href="{{pathFor 'about'}}">Leer más</a>
            <br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
