<template name="ordersItem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="row">
                <div class="col-sm-9">
                  <a data-toggle="collapse" href="#{{_id}}" class="{{#if checked}}checked{{/if}} {{#if send}}send{{/if}}">
                    <h4>{{ title }} <small class="{{#if send}}send{{/if}}"> {{ date }} </small></h4>
                  </a>
                </div>
                <div class="col-sm-3">
                  <span class="padding-sides pull-right">
                    <a class="btn btn-danger" id="delete" >
                      <i class="fa fa-times"></i>
                    </a>
                  </span>
                  <label class="padding-sides pull-right"><input type="checkbox" checked="{{send}}" id="send">Enviado</label>
                  <label class="padding-sides pull-right"><input type="checkbox" checked="{{checked}}" id="check">Revisado</label>
                </div>
              </div>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="{{_id}}">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each tableItems}}
                  {{> ordersItemTable}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
