<template name="services">
  <div class="container-fluid page-margin">
    <div class="row">
      <div class="col-sm-12">
        <div class="background-no-home ">

        </div>
      </div>
    </div>
    <div class="row text-center">
      <br><br><br><br><br>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-5">
        <img class="img-responsive" src="principal.jpg">
        <div class="well">
          <h1>Radiología convencional</h1>
          <p>
            Permite obtener imágenes del cuerpo, con la finalidad de identificar anomalías
            que explíquen los síntomas como parte del proceso de diagnóstico.
          </p>
          <br>
        </div>
      </div>
      <div class="col-sm-5">
        <img class="img-responsive" src="principal.jpg">
        <div class="well">
          <h1>Mamografía</h1>
          <p>
            Estudio con el objetivo de analizar la forma consistencia y componente de las mamas
            en busca de algún tipo de anomalidades que puedan dar cuenta de determinada
            afección de salud, especialmente aquellas derivadas de diferentes tipos de cáncer.
          </p>
        </div>
      </div>
      <div class="col-sm-1">

      </div>
    </div>
  </div>
</template>
