<template name="about">
  <div class="container-fluid page-margin text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="background-no-home ">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="">
          <br><br>
          <h1>El Instituto Radiológico del Sur Occidente</h1>
          <p>
            Somos una
            empresa especializada en el servicio de Imagenología de calidad que se
            basa en el compromiso, satisfacción y cumplimiento de las expectativas
            de nuestros usuarios.
            <br>
            Contamos con talento humano comprometido, profesional e integral
            basado en la comunicación ardua que complementa la excelencia
            corporativa.

            Somos una empresa integra; donde la seguridad, el respeto y el
            cumplimiento a cabalidad de las expectativas es primordial.
          </p>
          <br><br><br><br>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-10 col-sm-offset-1 well well-height">
          <h3 class="title">Misión</h3>
          <p> Somos una institución de imágenes
              diagnosticas de primer y segundo
              nivel de complejidad, comprometida
              con la calidad y el mejoramiento
              continúo, promovemos estándares de
              calidad: oportunidad, seguridad,
              pertinencia, confiabilidad y una
              atención con amabilidad y servicio.
              Estamos respaldados por el mejor
              equipo de especialistas,
              colaboradores, tecnología de
              avanzada e integralidad para el
              bienestar de los usuarios, la
              comunidad, colaboradores y socios.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-10 col-sm-offset-1 well well-height">
          <h3 class="title">Visión</h3>
          <p>
            Para el año 2020, consolidar a la Institución, como líder en la prestación del
            servicio de imágenes diagnósticas, reconocida por garantizar altos
            estándares de calidad y actualización tecnológica, orientados a proteger
            integralmente la seguridad del paciente, generar confiabilidad en sus
            diagnósticos y humanización en los procesos de atención que permitan
            cimentar el camino a la acreditación, fortalecer su competitividad y rentabilidad.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-10 col-sm-offset-1 well well-height">
          <h3 class="title">Compromiso Institucional</h3>
          <p>
            Atender a las necesidades que involucran los cambios en el desarrollo de
            actividades de la salud y conociendo las disposiciones de la normatividad
            legal vigente emanada por el ministerio de la protección social que
            estructura y reglamenta a las entidades prestadoras de servicios de salud en
            la Resolución 2003 de 2014 en la cual estructuran con obligatoriedad los
            procesos mínimos que se deben tener de acuerdo a el nivel de complejidad
            de cada establecimiento que presta un servicio de salud.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="">
            <br><br>
            <h1>Política de calidad</h1>
            <p>
              Ofrecer un servicio de imágenes diagnósticas que asegure el
              cumplimiento de los estándares de calidad, integralidad y
              mejoramiento continuo de sus procesos, con personal idóneo
              capacitado y comprometido, desarrollo tecnológico y cobertura,
              capaz de satisfacer las necesidades de los usuarios, los
              contratantes y sostener el liderazgo, rentabilidad y desarrollo de la
              organización.
            </p>
            <br><br><br><br>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</template>
